{% extends 'user_auth/base.html' %}

{% block additional_links %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

{% load bootstrap4 %}

<form method="POST" class="col-8 col-md-8 col-lg-6 mb-5 mx-auto p-3 rounded bg-dark text-white" style="background-color: red;">

    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' show_help=False horizontal_label_class='col-md-4' field_class='col-md-8' form_group_class='align-items-center mt-2'%}

    <div class="row justify-content-end p-3 align-items-center">
        <button type="submit" class="btn btn-secondary mr-3">Submit</button>
    </div>


</form>

<script>
  $(function () {
    $("#id_birthday").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>

{% endblock %}

    {% block jquery %}

    {% endblock %}