a.disabled {
    pointer-events: none;
}

.navbar {

    min-height: 7vh;
}

#content{
margin-top: 50px;
}


#content-wrapper {
    min-height: 90vh;
}
@media (min-width: 768px) {

#sidebar-wrapper {
    min-height: 93vh;
}

#sidebar-wrapper2 {
    position:fixed;
    left: 0;
    bottom: 0;
}

.list-group > a:first-child{
    margin-top: 35%;
}
}