{% extends 'user_auth/base.html' %}
{% load static %}

{% block content %}

<div class="col-12 col-lg-10 col-xl-8 container my-auto">

    <div class="mb-sm row text-white bg-dark p-2 rounded">
        <div class=" col-sm mb-4 my-md-auto my-sm-3">
            <h5 class="card-title"> {{ book.title }} </h5>
            <p class="card-text">
                <p class="ml-5">
                    <span class="fa fa-long-arrow-right"></span>
                    Author: {% if book.author.name %}{{ book.author.name }} {% else %} ----- {% endif %}
                </p>
                <p class="ml-5">
                    <span class="fa fa-long-arrow-right"></span>
                    Genre: {% if book.genre.name %} {{ book.genre.name }} {% else %} ----- {% endif %}
                </p>
                <p class="ml-5"><span class="fa fa-long-arrow-right"></span> Year: {{ book.year }}</p>
                <p class="ml-5"><span class="fa fa-long-arrow-right"></span> Price: {{ book.price }}</p>
                <p class="ml-5"><span class="fa fa-long-arrow-right"></span> Amount: {{ book.amount }}</p>
            </p>
            <div class="row justify-content-end">
                {% if user.is_staff %}
                <a href="{% url 'storefront:del_book' pk=book.pk %}" class="btn btn-outline-light btn-md">Delete</a>
                <a href="{% url 'storefront:edit_book' pk=book.pk %}" class="btn btn-outline-light btn-md mx-3">Edit</a>
                {% else %}
                <a href="{% url 'storefront:to_cart' pk=book.pk %}" class="btn btn-outline-light btn-lg mx-3">
                    <span class="fa  fa-shopping-cart mx-5"></span>
                </a>
                {% endif %}
            </div>
                </div>
    <div id="img-wrapper" class="col-sm bg-light rounded d-flex">
        <img class="col-sm my-auto mx-auto" src=" {% if book.image %} {{ book.image.url }} {% else %} {% static 'images/1.png' %} {% endif %}" alt=" {% if book.image %} {{ book.image.name }} {% else %} no image {% endif %}">
    </div>
        </div>
</div>

{% endblock%}