{% extends 'user_auth/base.html' %}
{% load bootstrap4 %}

{% block content %}

{% if books %}
<div class=" row justify-content-end mb-4">
  <a href="{% url 'storefront:new_book' %}" class="btn btn-secondary mr-3">new Book</a>
</div>

<div id="table-wrapper" class="d-flex flex-column">
  <table class="table table-hover table-responsive-lg mb-5">
    
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col" class="text-center">Year</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Amount</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}

      <tr>
        <th>{{ book.title }}</th>
        <td>{{ book.author.name }}</td>
        <td>{{ book.genre.name }}</td>
        <td class="text-center">{{ book.year }}</td>
        <td class="text-center">{{ book.price }}</td>
        <td class="text-center">{{ book.amount }}</td>
        <td class="text-center">
          <a href="{% url 'storefront:del_book' pk=book.pk %}"><span class="fa fa-trash"></span></a>
        </td>
        <td class="text-center"> 
          <a href="{% url 'storefront:edit_book' pk=book.pk %}"><span class="fa fa-pencil-square-o"></span></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>

  </table>

  <div class=" row justify-content-center">
    {% bootstrap_pagination page pages_to_show=7 %}
  </div>

</div>

{% else %}
<div class="d-flex flex-column col-10 col-sm-6 mx-auto">

  <div class=" alert alert-info  mx-auto text-center col-12" role="alert">
    Sorry we haven't such books yet.
  </div>
  <a href="{% url 'storefront:new_book' %}" class="btn btn-secondary mb-5 ml-auto">new Book</a>

</div>
{% endif %}


{% endblock%}



