{% extends 'user_auth/base.html' %}
{% load bootstrap4 %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="col-8 col-md-8 col-lg-6 mb-5 mx-auto p-3 rounded bg-dark text-white">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' show_help=False horizontal_label_class='col-md-4' field_class='col-md-8' form_group_class='align-items-center mt-2' %}

    <div class="row justify-content-end p-3 align-items-center">
        <button type="submit" class="btn btn-secondary mr-3">
            Submit
        </button>
    </div>
</form>
{% endblock %}