{% extends 'user_auth/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-end">

<div class="dropdown mr-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'storefront:sort_y' sort_y='d' %}">Year desc</a>
      <a class="dropdown-item" href="{% url 'storefront:sort_y' sort_y='y' %}">Year asc</a>
    <a class="dropdown-item" href="{% url 'storefront:sort_p' sort_p='d' %}">Price desc</a>
    <a class="dropdown-item" href="{% url 'storefront:sort_p' sort_p='y' %}">Price asc</a>
  </div>
</div>
</div>

<div class="row justify-content-around">

    {% for book in books %}


<div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-lg-2 my-3 col-auto align-self-center">
         <div class="card">
            <img class="card-img-top" src="{% static 'css/1.png' %}" alt="Card image cap">
            <div class="card-body text-white bg-dark">
                <a href="{% url 'storefront:profile_book' pk=book.pk%}" class="text-white py-0"> {{ book.title }} </a>
                <p class="card-text">
                    <p class="ml-2 small"><span class="fa fa-long-arrow-right"></span> Author: {{ book.author.name }}</p>
                    <p class="ml-2 small"><span class="fa fa-long-arrow-right"></span> Genre: {{ book.genre.name }}</p>
                    <p class="ml-2 small"><span class="fa fa-long-arrow-right"></span> Year: {{ book.year }}</p>
                    <p class="ml-2 small"><span class="fa fa-long-arrow-right"></span> Price: {{ book.price }}</p>
                </p>

                {% if not user.is_staff %}
                              <div class="row justify-content-center">
                    {% if book.amount == 0 %}
                <a href="{% url 'storefront:to_cart' pk=book.pk %}"class="btn btn-outline-light btn-lg disabled"><span class="mx-3">ABSENT</span></a>
                {% else %}
                                <a href="{% url 'storefront:to_cart' pk=book.pk %}"class="btn btn-outline-light btn-lg mx-3"><span class="fa  fa-shopping-cart mx-5"></span></a>

                {% endif %}
                    </div>

                {% endif %}

            </div>
         </div>
      </div>




    {% empty %}
        <div class=" alert alert-info col-6 text-center" role="alert">
            Sorry we haven't such books yet.
        </div>
    {% endfor %}
</div>

{% endblock %}
