{% extends 'user_auth/base.html' %}

{% block content %}

<div id="table-wrapper" class="d-flex flex-column">
<table class="table table-hover mb-5">
  <thead class="thead-light">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col" class="text-center">Gender</th>
        <th scope="col" class="text-center">Birthday</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
      {% for user in users %}

        <tr>
          <th>{{ user.username }}</th>
          <td>{{ user.email }}</td>
          <td class="text-center">{{ user.extra_data.gender }}</td>
          <td class="text-center">{{ user.extra_data.birthday }}</td>
            <td class="text-center"><a href="{% url 'storefront:del_user' pk=user.pk %}"><span class="fa fa-trash"></span></a></td>

        </tr>

    {% endfor %}

  </tbody>
</table>

<a href="{% url 'storefront:new_book' %}" class="btn btn-secondary mb-5 ml-auto">new Book</a>

</div>



{% endblock%}



